# PostgreSQL
POSTGRES_DB=eps
POSTGRES_USER=eps
POSTGRES_PASSWORD={your-password-here}

# MinIO
MINIO_ACCESS_KEY={your-access-key-here}
MINIO_SECRET_KEY={your-secret-key-here}
MINIO_BUCKET=eps-file-storage

# JWT — （openssl rand -base64 32　で生成してください。）
JWT_SECRET={your-secret-here}

# AI (AIによりチケット生成には必要です。)
AI_PROVIDER=gemini
AI_GEMINI_API_KEY={your-api-key-here}
AI_OPENAI_API_KEY={your-api-key-here}

# API URL (ローカルで動かす場合は不要)
NEXT_PUBLIC_API_URL={your-domain-name}