# Node (Next.js)
frontend/node_modules
frontend/.next

# Java (Spring Boot)
backend/target
backend/*.log

# Environment variables
.env
.env.*
frontend/.env
frontend/.env.*
backend/.env
backend/.env.*

# OS
.DS_Store